# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.bmp
*.tiff
*.tif
*.webp
*.ico
*.heic
*.heif
*.archive
*.archive.1
*.mp4
*.m4v
*.mov
*.avi
*.mkv
*.m4v
*.wmv
*.flv
*.webm
*.mpg
*.mpeg
*.mp2
*.mp3
.ds_store
*.code-workspace
issues/