@font-face {
	font-family: "Benguiat-Book";
	src: url("../fonts/Benguiat-Book.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: "Benguiat-BookItalic";
	src: url("../fonts/Benguiat-BookItalic.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: "GillSans";
	src: url("../fonts/GillSans.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: "GillSans-Italic";
	src: url("../fonts/GillSans-Italic.otf") format("opentype");
	font-style: normal;
}

@font-face {
	font-family: "DucDeBerryLTStd";
	src: url("../../fonts/DucDeBerryLTStd.otf") format("opentype");
	font-style: normal;
}
